<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NovoEventoServlet</servlet-name>
        <servlet-class>cadastros.NovoEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaContaServlet</servlet-name>
        <servlet-class>cadastros.NovaContaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MudancaSalarioServlet</servlet-name>
        <servlet-class>cadastros.MudancaSalarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirContaServlet1</servlet-name>
        <servlet-class>cadastros.ExcluirContaServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaDespezaServlet</servlet-name>
        <servlet-class>cadastros.NovaDespezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>cadastros.LoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEventoServlet</servlet-name>
        <servlet-class>cadastros.ExcluirEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesejosServlet</servlet-name>
        <servlet-class>cadastros.DesejosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NovoEventoServlet</servlet-name>
        <url-pattern>/NovoEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaContaServlet</servlet-name>
        <url-pattern>/NovaContaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MudancaSalarioServlet</servlet-name>
        <url-pattern>/MudancaSalarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirContaServlet1</servlet-name>
        <url-pattern>/ExcluirContaServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaDespezaServlet</servlet-name>
        <url-pattern>/NovaDespezaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEventoServlet</servlet-name>
        <url-pattern>/ExcluirEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesejosServlet</servlet-name>
        <url-pattern>/DesejosServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
